#drawing-area {
  text-align: center;
  margin: 0 auto;
  width: 900px;
}

#info-wrapper {
  display: inline-block;
  float: left;
  width: 400px;
  text-align: left;
}

#info {
  padding: 0 15px;
}

#svg {
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#letters {
  margin-top: 0.7rem;
}

.notselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}