<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Symbols DB</a>
      </div>
      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li class="{{ isActiveRoute 'home' }}"><a href="/">Home</a></li>
              <li class="{{ isActiveRoute 'admin' }}"><a href="/admin">Admin</a></li>
              <li><a href="https://github.com/danielsvane/lettersdb">Source</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {{> loginButtons}}
          </ul>
      </div>
<!--       <p class="navbar-text pull-right"><a href="https://github.com/danielsvane/lettersdb" class="navbar-link">Source on GitHub</a></p> -->
    </div>
  </nav>
</template>